# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
# *.so

# Compiled Static libraries
*.lai
*.la

# Other local junk
*.swp
*.swo
*.local


# Not really a point in distributing
# Prebuilt binaries at this point
client
server

# Netbeans stuff 
/nbproject/private/


# Xcode stuff
*/xcuserdatad/
*.xcworkspace

.DS_Store