# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
# *.so

# Compiled Static libraries
*.lai
*.la

# Other local junk
*.swp
*.swo
*.local

# Our local dat files
*.dat
*.idx
*.emp

# Netbeans stuff 
/nbproject/private/

# Emacs Stuff
*#
#*
*.build
*.app
*.framework
